* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid #32b9cd;
    padding: 1rem 2rem;
}


header h1 {
    color: #32b9cd;
    font-weight: 500;
}

header nav ul{
    display: flex;
    gap: 30px;

    list-style: none;
    color: #e3b062;
}

main {
    margin-top: 10vh;
    height: 90vh;

    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}

aside {
    background-color: rgb(106, 178, 255);
    flex: 1;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.772);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 2rem 0;
}

aside img {
    width: 100%;
    max-width: 500px;
}

.login {
    flex: 1;
    align-self: center;
    padding: 0 5rem;
}

.login > div {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.login h2 {
    font-size: 2.5rem;
    color: #6AB2FF;
}

.login > div > p {
    margin-bottom: 2rem;
}

.login p {
    color: #000000b6;
    font-size: 1.1rem;
    font-weight: 500;
}

.login > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login input {
    width: 100%;
    margin-top: 10px;
    padding: 20px 10px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #007bff10;
    border-radius: 5px;
    border: none;
    border: 3px solid transparent
}

.login input:focus {
    outline: none;
    border: 3px solid #6AB2FF;
}

.login a {
    color: #002e5e;
    text-align: center;
    color: #006de1;
    font-weight: 600;
}

.login span {
    font-weight: 700;
}

.login button {
    background-color: #6AB2FF;
    color: white;
    margin-top: 2rem;
    padding: 20px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    width: 100%;
    cursor: pointer;
    transition: .2s;
}

.login button:hover {
    background-color: #5898dd;
    transition: .2s;
}


@media (max-width: 700px) {
    aside {
        display: none;
    }

    .login {
        padding: 0 2rem;
    }
}